@charset "utf-8";
/*
filename: eja_dynamic.css
Author: Ethan Amsden
Date: 01/06/2023
*/

/*html and body Style Basics*/
html {
	scroll-behavior: smooth;
}

/* dynamic styles */

/* div */
div.skillgroup:hover {
	opacity: 1;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

/* project image */
/*
div.projgroup img:hover {
	box-shadow: 15px 15px 20px 10px #444444;
	opacity: 1;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
*/
.overlay {
  background-color: #009900;
  bottom: 0;
  border-radius: 50px;
  box-shadow: 15px 15px 20px 10px #444444;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: .5s ease;
  top: -100%;
  width: 100%;
}

div.projgroup:hover .overlay {
	opacity: 1;
	position: relative;
	width: 100%;
}

.text {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* section */
article a:hover,
footer ul li a:hover,
section#skills ul li a:hover,
.white a:hover {
	background-color: #009900;
	border-radius: 10px;
	color: white;
	padding: 5px;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}