@charset "utf-8";
/*
filename: eja_desktop.css
Author: Ethan Amsden
Date: 02/03/23
*/

/* article styles */
article#contactinfo {
	margin: auto auto;
	padding: 0.2rem;
}

article#contactinfo h2 {
	font-size: 1.5rem;
	line-height: 2.2rem;
	text-align: center;
}

article#edisonplace {
	align-content: center;
	border: 5px solid #0F0F14;
	border-radius: 50px;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 1em;
	max-width: 30em;
}

article#edisonplace p {
	margin: 1.2em 0 0 0;
}

article#edisonplace > h3, article#selfdescript > h4 {
	margin: 0 0 0.5em 0;
}

article#edisonplace > img#edisonphoto {
	border: 2px solid #0F0F14;
	border-radius: 25px;
}

article#myname {
	line-height: 1.2rem;
}

article p {
	margin: 1.2em 0;
}

article#selfdescript, article#edisonplace,
div#skillist, div#projnavigate {
	margin-top: 2%;
}

article#selfdescript {
	font-size: 1.2em;
	line-height: 1.3em;
	margin: 2% auto 0 auto;
	max-width: 30em;
}

/* div styles */
div#edisoninfo {
	padding: 0 0 0 1em;
}

div#edisoninfo h3 {
	padding: 0.5em;
}

/*
div img#me {
	border: 5px solid #009900;
	border-radius: 50px;
}
*/

div#navigate {
	align-items: center;
	display: flex;
	margin: 0 auto;
}

div#profile {
	display: flex;
	flex-direction: column;
}

div#profile h1 {
	font-size: 1.5em;
	padding: 0.5em;
	text-shadow: 8px 2px 8px #009900;
}


div.projgroup a > img {
	border-radius: 50px;
	opacity: 1;
}

div#projlist {
	border-radius: 0 0 30px 30px;
	gap: 4em;
	padding: 0.5em;
}

div.sectiontitle h2 {
	font-size: 1.5rem;
}

div#sites {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: auto auto;
}

div#sites ul {
	/*border: 5px solid #009900;*/
	border-radius: 15px;
	padding: 0 1em;
	display: flex;
  	flex-flow: row wrap;	
	margin: 0 50%;
}

div#sites ul li {
	display: flex;
	float: left;
	justify-content: center;
	padding: 1em; /*0.5em;*/
}

div#sites ul li a {
	color: #005400;
	font-size: 1.5em;
	padding: 8px;
	text-decoration: none;
}

div#sites ul li a:hover {
	background-color: #009900;
	border-radius: 10px;
	color: white;
}

div.skillgroup {
	border: 2px solid white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	opacity: 0.5;
	padding: 1em;
	width: 17em;
}

div#skillist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}

div#topcontent {
	display: flex;
	flex-wrap: wrap;
}


/* header styles */

header a {
	color: white;
	display: block;
	font-size: 1.5rem;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
}

header a:hover {
	background-color: #009900;
	border-radius: 10px;
}

header h1 {
	/*-- Gradient Text --*/
	background: linear-gradient(to right, #009900, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/*----*/
	font-size: 1rem;
	padding: 0 0 2.9rem 0;
}

header#toppanel {
	background-color: #111;
	border-right: 5px solid #008800;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	position: fixed;
	top: 0;
	width: 10rem;
	z-index: 1;
} 

h3.skillheading {padding: 0 0 0.5em 0;}

/* footer styles */
footer ul {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

footer ul li {
	border-right: 2px solid white; 
	padding: 1em;
}

footer ul li:last-child {
	border-right: none;
}

/* image styles */
img#logoheader {
	padding: 0.5rem;
}

img#mypicture {
	/*aspect-ratio: 1/1;*/
	border: 5px solid #0F0F14;
	border-radius: 50px;
	display: block;
	height: 25rem;
	width: 25rem;
}

/* main styles */
main.main {margin-left: 10rem;}

/* nav styles */

/* section styles */	
section.black, section.white {		
	margin: 0;
	padding: 1rem;
}

section hr {margin: 0.5em 0;}

section#home {
	display: flex;
	flex-direction: row;
	margin: auto auto;
	
}

section#home img#mypicture {
	margin: auto 0;
}

section p.note {
	margin: 2% 0 0 0;
}

section#top {
	/*-- Gradient Text --*/
	background: linear-gradient(to right, #009900, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/*----*/
	font-size: 5rem;
	line-height: 5.2rem;
	margin: 0 auto;
	padding: 3rem 0;
	width: 60%;
}