@charset "utf-8";
/*
filename: eja_mobile.css
Author: Ethan Amsden
Date: 02/02/23
*/

@media only screen and (max-width: 768px) {
	
	/* article styles */
	a {
		text-decoration: none;
	}
	
	article#edisonplace {
		align-content: center;
		border: 5px solid #0F0F14;
		border-radius: 50px;
		display: flex;
		flex-direction: column;
		font-size: 1.2em;
		gap: 0.5em;
		margin: 1rem auto 0 auto;
		padding: 1em;
		max-width: 30em;
	}
	
	article p {
		padding: 0.5em 0;
	}
	
	/* div styles */
	div#edisoninfo > * {
		padding: 0.5em;
	}
	
	div#navigate {
		margin: 0 auto;
	}
	
	div#profile {
		margin: 0 auto;
	}
	
	div#profile h1 {
		display: none;
	}
	
	div.projgroup > img {
		border-radius: 15px;
		height: 10em;
		opacity: 0.3;
		width: 10em;
	}
	
	div#projlist {
		border-radius: 0 0 30px 30px;
		gap: 2em;
		padding: 0.5em;
	}
	
	div#sites {
		margin: 0 auto;
	}
	
	div#skillist {
		display: flex;
		flex-direction: column;
		gap: 1em;
		margin-top: 1rem;
	}
	
	div.skillgroup {
		border: 2px solid white;
		border-radius: 20px;
		padding: 1em;
	}
	
	div.skillgroup > h3{
		padding: 0.5em;
	}
	
	div#computerlangs ul {
		margin: 0 auto;
		width: 40%;
	}
	
	div#topcontent {
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 0;
	}
	
	/* footer styles */
	
	footer ul {
		display: flex;
		flex-direction: column;
	}
	
	footer ul li {
		border: none;
	}
	
	footer ul li img {
		height: 40px;
		width: 40px
	}
	
	/* header styles */
	header {
		padding: 1rem 0.5rem;
	}
	
	header div#sites ul,
	header div#navigate ul {
		border: 2px solid white;
		border-radius: 5px;
	}
	
	/* image styles */
	img#edisonphoto {
		border: 2px solid #0F0F14;
		border-radius: 25px;
		margin: 0 auto;
	}
	
	img#me {
		display: none;
	}
	
	img#mypicture {
		border: 2px solid #0F0F14;
		border-radius: 10px;
		width: 100%;
	}
	
	/* nav styles */
	nav.horizontal, div#sites ul {
		border: none;
	}
	
	nav.horizontal ul {
		display: block;
	}
	
	nav.horizontal ul li, 
	div#sites ul li {
		display: flex;
		flex-direction: column;
	}
	
	/* section styles */
	section#home {
		display: flex;
		flex-direction: column;
		height: auto;
		gap: 0;
	}
}