@charset "utf-8";
/*
filename: eja_dynamic.css
Author: Ethan Amsden
Date: 01/06/2023
*/

/*html and body Style Basics*/
html {
	scroll-behavior: smooth;
}

/* dynamic styles */

/* div */
div.skillgroup:hover {
	opacity: 1;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

div.projgroup a > img:hover {
	box-shadow: 15px 15px 20px 10px #444444;
	opacity: 1;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

/* footer styles */

/* section */
article a:hover,
footer ul li a:hover,
section#skills ul li a:hover,
.white a:hover {
	background-color: #009900;
	border-radius: 10px;
	color: white;
	padding: 5px;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}