@charset "utf-8";
/*
filename: eja_layout.css
Author: Ethan Amsden
Date: 02/02/23
*/

/* #0F0F14 */
/* #009900 */
/* #007700 */
/* white */

/*html and body Style Basics*/
@media screen and (max-width: 800px) {
	
	/* article styles */
	a {
		text-decoration: none;
	}
	
	article#contactinfo {
		background-color: rgb( 180, 180, 200);
		border-radius: 10px;
		margin: 1rem auto 0 auto;
		padding: 0.2rem;
	}
	
	article#edisonplace {
		align-content: center;
		border: 5px solid #0F0F14;
		border-radius: 50px;
		display: flex;
		flex-direction: column;
		font-size: 1.2em;
		gap: 0.5em;
		margin: 1rem auto 0 auto;
		padding: 1em;
		max-width: 30em;
	}
	
	article p {
		padding: 0.5em 0;
	}
	
	/* div styles */
	div#edisoninfo > * {
		padding: 0.5em;
	}
	
	div#navigate {
		margin: 0 auto;
	}
	
	div#profile {
		margin: 0 auto;
	}
	
	div#profile h1 {
		display: none;
	}
	
	div.projgroup > img {
		border-radius: 15px;
		height: 10em;
		opacity: 0.3;
		width: 10em;
	}
	
	div#projlist {
		border-radius: 0 0 30px 30px;
		gap: 2em;
		padding: 0.5em;
	}
	
	div#sites {
		margin: 0 auto;
	}
	
	div#skillist {
		display: flex;
		gap: 1em;
		margin-top: 1rem;
	}
	
	div.skillgroup {
		border: 2px solid white;
		border-radius: 20px;
		padding: 1em;
	}
	
	div.skillgroup > h3{
		padding: 0.5em;
	}
	
	div#computerlangs ul {
		margin: 0 auto;
		width: 40%;
	}
	
	div#topcontent {
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 0;
	}
	
	/* footer styles */
	
	footer ul {
		display: flex;
		flex-direction: column;
	}
	
	footer ul li {
		border: none;
		text-align: center;
	}
	
	footer ul li img {
		align-self: center;
		height: 40px;
		width: 40px;
	}
	
	/*header styles*/	
	header h1 {
		display: none;
	}
	
	header#toppanel {
		border: none;
		width: 100%;
		height: auto;
		position: relative;
	}
	
	header#toppanel a {
		float: left;
		line-height: 2rem;
	}
	
	/*main styles*/
	main.main {margin-left: 0;}
	
	/* image styles */
	img#edisonphoto {
		border: 2px solid #0F0F14;
		border-radius: 25px;
		margin: 0 auto;
	}
	
	img#logoheader {
		margin: 5% auto;
	}
	
	img#me {
		display: none;
	}
	
	/* nav styles */
	nav.horizontal, div#sites ul {
		border: none;
	}
	
	nav.horizontal ul {
		display: block;
	}
	
	nav.horizontal ul li, 
	div#sites ul li {
		display: flex;
		flex-direction: column;
	}
	
	/* section styles */
	section#home {
		flex-direction: column;
		height: auto;
		gap: 0;
	}
	
	section#home img#mypicture {
		margin: 0 auto;
	}
	
	section#top {
	/*-- Gradient Text --*/
	background: linear-gradient(to right, #009900, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/*----*/
	font-size: 2rem;
	line-height: 2.2rem;
	margin: 0 auto;
	padding: 1rem 0;
	width: 60%;
	}
	
	section#top h1 {text-align: center;}
	
}

@media screen and (max-width: 576px) {
	
	/*header styles*/
	header#toppanel a {
		text-align: center;
		float: none;
		border-left: 2px solid white;
		/*border-radius: 10px;*/
		border-right: 2px solid white;
		border-bottom: 2px solid white;
	}
	
	header a:hover {
		border-radius: 0;
	}
	
	header#toppanel a:nth-of-type(1) {
		border-top: 2px solid white;
		border-radius: 10px 10px 0 0;
	}
	
	header#toppanel a:nth-of-type(5) {
		border-bottom: 2px solid white;
		border-radius: 0 0 10px 10px;
	}
	
	/* section styles */
	section#home img#mypicture {
		border: 2px solid #0F0F14;
		border-radius: 10px;
		height: 15rem;
		margin: 0 auto;
		width: 15rem;
	}
}