@charset "utf-8";
/*
filename: jb_form.css
Author: Ethan Amsden
Date: 12/1/2022
*/

/* header styles */
header {padding: 3% 0;}

/* div styles*/
div#forminstructions {	
	background-color: #D09C68;
	border-radius: 15px;
	display: block;
	margin: 0 30%;
}

div#forminstructions p {
	display: block;
    margin-block-start: 0;
    margin-block-end: 0;
	padding: 5px 15px;
}

div#formsheet {
	padding: 0 30.5%;
}

/* form styles*/
form#charactercreation {
	background-color: #D09C68;
	border-left: 3px solid rgb(60, 26, 7);
	border-right: 3px solid rgb(60, 26, 7);
	padding: 3% 5%;
}

form input, form textarea {
	border: 2px solid rgb(60, 26, 7);
	padding: 0 25%;
}

input[type="text" i] {
    padding: 5px 5px;
	line-height: 1.2em;
	width: 90%;
}

/* footer styles */
footer div#footer {
	display: flex;
	justify-content: space-evenly;
	line-height: 1.7em;
}

footer button, footer a {
	background-color: #D09C68;
	color: black;
	border: 2px solid #00A1D7;
	border-radius: 15px;
	font-weight: 700;
	padding: 5px 5%;	
	text-decoration: none;
}

footer button:hover, footer a:hover {
	background-color: rgb(100, 100, 100);
	color: white;
	text-decoration: underline;
}

/* Validation Styles */

input:focus, select:focus {
	background-color: rgb(220, 255, 220);
}

input#firstName:focus:valid,
input#lastName:focus:valid,
input#zip:focus:valid,
input#phone:focus:valid,
input#mail:focus:valid {
	background-color: rgb(220, 255, 220);
}

input#firstName:focus:invalid,
input#lastName:focus:invalid,
input#zip:focus:invalid,
input#phone:focus:invalid,
input#mail:focus:invalid {
	background-color: rgb(255, 232, 233);
}