@charset "utf-8";
/*
filename: jb_game_map.css
Author: Ethan Amsden
Date: 12/1/2022
*/

/* header styles */
header {padding: 3% 0;}


/* img styles*/
img#gameMap {
	display: block;
	border: 15px groove #3C1A07;
	border-radius: 30px;
	margin: 2% auto;
}

/* div styles*/

div#activeMap {
	margin: 2%;
}
div#mapinstructions {	
	background-color: white;
	border: 2px solid rgb(112, 112, 112);
	border-radius: 15px;
	display: block;
	margin: 0 30% 0 30%;
}

div#mapinstructions p {
	display: block;
    margin-block-start: 0;
    margin-block-end: 0;
	padding: 5px 15px;
}

/* footer styles */
footer div#footer {
	display: flex;
	justify-content: space-evenly;
	line-height: 1.7em;
}

footer button, footer a {
	background-color: #D09C68;
	color: black;
	border: 2px solid #00A1D7;
	border-radius: 15px;
	font-weight: 700;
	padding: 5px 5%;
	text-decoration: none;
}

footer button:hover, footer a:hover {
	background-color: rgb(100, 100, 100);
	color: white;
	text-decoration: underline;
}