@charset "utf-8";
/*
filename: jb_layout2.css
Author: Ethan Amsden
Date: 12/1/2022
*/

/*html and body Style Basics*/
html {
	background-color: rgb(0, 0, 215);
	color: black;
}

body {
	background-color: rgb(0, 161, 215);
	font-family: Verdana, Geneva, Arial, sans-serif;
	margin: 0 auto;
	max-width: 1020px;
	min-width: 400px;
	width: 100%;
}

body > header {
	background-color: rgb(60, 26, 7);
	margin: 0;
	width: 100%;
}

/* article styles */
article.placeinfo {
	padding: 5% 10% 5% 10%;
}

article.placeinfo h1 {
	font-size: 2em;
	padding: 2em 0 0 0;
	text-align: center;
}

article.placeinfo ul {
	align-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

article.placeinfo ul li {
	width: 30%;
}

/* image styles */
img.placeimage {
    display: block;
    border: 5px solid #3C1A07;
    border-radius: 30px;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    right: 50%;
}

/* Navigation styles */
nav.horizontal ul {
	display: flex;
	justify-content: space-evenly;
	line-height: 1.7em;
	margin: 0;
	padding: 5px 20%;
	/*width: 100%;*/
}

nav.horizontal ul li {
	padding: 35px;
	margin: 0;
}

nav.horizontal ul li a {
	padding: 4px 8px;
}

nav.horizontal ul li button {
	padding: 10px 14px;
}
/* div styles */
div#info {
	padding: 5% 10% 5% 10%;
}

/* footer styles */
body > footer {
	background-color: rgb(60, 26, 7);
	color: rgb(208, 156, 104);
	font-weight: bold;
	padding: 30px 10px 30px 10px;
	text-align: center;
	margin: 0;
}
