@charset "utf-8";
/*
filename: jb_mobile.css
Author: Ethan Amsden
Date: 12/6/2022
*/

/* mobile styles*/
@media only screen and (max-width: 576px) {
	html {
		background-color: transparent;
		color: black;
	}
	
	body {
		margin: 0;
		height: 100%;
		width: 100%;
	}
	
	body > header {
		width: 100%;
	}
	
	body > footer {
		padding: 2% 5%;
	}
	
	header.brown-header nav.horizontal ul {
		flex-flow: column;
	}
	
	
	header.brown-header nav.horizontal ul li {
		padding: 10%;
	}
	
	header.brown-header nav.horizontal ul li button {
		width: 100%;
	}
	
	/* article styles */
	article.main {
		padding: 2% 5%;
	}
	
	article.main p, article.placeinfo p, div#welcome {
		line-height: 1.5em;
	}
	
	article.main ul li {
		width: 60%;
	}
	
	article.placeinfo h1 {
		padding: 0;
	}
	
	/* div styles */
	div#info {
		padding: 0 5%;
	}
	
	/* section styles*/
	section#bibliography {
		padding: 0 5%;
	}
	
	section#bibliography h1 {
		font-size: 2em;
		padding: 0;
	}
	
	/*mobile form styles*/
	div#formsheet {
		padding: 0 10%;
	}
	
	div#forminstructions {
		margin: 0 10%;
	}
	
	/* mobile map styles */
	div#activeMap {
		align-content: center;
		margin: 0;
	}
	div#mapinstructions {
		display: block;
		margin: 2% 10%;
		padding: 5px;
	}
	
	img#gameMap {
		border: 0;
		border-radius: 0;
		margin: auto;
	}
}