@charset "utf-8";
/*
filename: jb_reset1.css
Author: Ethan Amsden
Date: 11/29/2022
*/

article, body, cite, footer, 
h1, h2, header, html, img, 
li, nav, p, section, ul {
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

article, div, footer, header, nav, 
section { 
   display: block;
}

nav ul {
   list-style-type: none;
}

nav a {
   text-decoration: none;
}

body {
   line-height: 1.2em;
}