@charset "utf-8";
/*
filename: jb_styles1.css
Author: Ethan Amsden
Date: 11/29/2022
*/

/* Navigation & list Styles */
nav.horizontal li.jb-button a {	
	display: block;
	background-color: rgb(208, 156, 104);
	border: 4px solid #3C1A07;
	color: black;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

nav.horizontal li.jb-button a:hover {
	display: block;
	background-color: rgb(100, 100, 100);
	color: white;
	text-decoration: underline;
}

article.main ul {
	display: flex;
	flex-flow: column;
	list-style-type: none;
	margin: 35px 0px;
}

ul li.jb-button {
	padding: 35px;
}

ul li.jb-button a {
	display: block;
	background-color: rgb(208, 156, 104);
	border: 4px solid #3C1A07;
	color: black;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 5px;
}

ul li.jb-button a:hover {
	display: block;
	background-color: rgb(100, 100, 100);
	color: white;
	text-decoration: underline;
}

/* h# styles */
h1#webtitle, h2#websubtitle {
	line-height: 1.7em;
}