/*
filename: ds_table1.css
Author: Ethan Amsden
Date:

Note:
*/

/* Table Styles */

table.plans {
	background: white;
	border: 10px ridge rgb(35, 35, 5);
	border-collapse: collapse;
	font-size: 0.75em;
	margin-bottom: 20px;
	width: 100%;
}

/* Table Cell Styles */

table.plans th, table.plans td {
	border: 1px solid gray;
	padding: 5px;
	vertical-align: top;
}

/* Table Caption Styles */

table.plans caption {
	caption-side:top;
	text-align: left;
	font-size: 15px
}

/* Row Group Styles */

table.plans thead {
	background-color: rgb(90, 56, 37);
	color: white;
}

table.plans tfoot {
	background-color: black;
	color: white;
}

table.plans thead tr {
	height: 30px;
}

table.plans tbody tr {
	height: 40px;
}

/* Column Group Styles */

col#firstCol {
	background-color: rgb(90, 56, 37);
	width: 16%;
}

col.planCols {
	background-color: rgb(100, 100, 100);
	width: 12%;
}